# App configuration
# ==============================
# host of your app (localhost or 127.0.0.1 is default)
export APP_HOST=0.0.0.0
# port of your app (8000 default)
export APP_PORT=8000
export IS_APP_AUTO_RELOAD=true
export APP_MODE=dev # dev | test | prod
# ==============================

# Auth settings
# ==============================
export ACCESS_SECRET_KEY=my-cool-access-secret-key1
export REFRESH_SECRET_KEY=my-cool-refresh-secret-key1
export ACCESS_COOKIE_NAME=access_token
export REFRESH_COOKIE_NAME=refresh_token
export APP_ALGORITHM=HS256
export FIX_SALT="sfifiwejm3o2rtnjfiownrof23it20IO)@(#JNRJFNEOISNAl)das"
export ACCESS_TOKEN_EXPIRES_MINUTES=15
export REFRESH_TOKEN_EXPIRES_MINUTES=43200
export TOKEN_TYPE=bearer
# ==============================

# DB settings
# ==============================
export DB_TYPE=postgresql
export DB_HOST=postgres-fastapi-base-auth-cnt
# export DB_HOST=postgres-fastapi-base-cnt
export DB_PORT=5432
export DB_DRIVER=asyncpg
export DB_USER=van
export DB_PASSWORD=1242
export DB_NAME=base_fastapi_auth
export DB_ECHO=true
# ==============================

# Logger settings
# ==============================
# the !absolute! path to the log directory
export LOG_DIRECTORY=/Users/ivanaleksandrovci/code/new_fastapi_auth/logs
export DATE_FORMAT="%Y-%m-%d %H:%M:%S"
export LOG_FORMAT="[%(asctime)s.%(msecs)03d] %(module)10s:%(lineno)-3d %(levelname)-7s - %(message)s"
export LOG_ROATING=midnight
export BACKUP_COUNT=30
# The field defines logs rotating in UTC or local time
export LOG_UTC=true
# Logging levels: https://docs.python.org/3/library/logging.html#logging-levels
export LOG_LEVEL=10 # Debug
# ==============================

# Sentry
# ==============================
export SENTRY_DSN=your-sentry-link
# ==============================


# Mail
# ==============================
export MAIL_USERNAME="YOUR MAIL USERNAME"
export MAIL_PASSWORD="your male password"
export MAIL_FROM="yourmaio@gmail.com"
export MAIL_PORT=587
export MAIL_SERVER="smtp.gmail.com"
export MAIL_FROM_NAME="YOUR_CUTE_NAME"
export MAIL_STARTTLS=True
export MAIL_SSL_TLS=False
export USE_CREDENTIALS=True
export VALIDATE_CERTS=True
# ==============================

# Redis
# ==============================
export REDIS_HOST=redis-fastapi-base-auth-app
export REDISH_PORT=6379
export REDIS_DB=0
export REDIS_PASSWORD=""
# ==============================
